<%- include("partials/header") %>

    <main class="page">
        <section class="clean-block about-us">
            <div class="container-fluid">
                <div class="block-heading">
                    <h2 class="text-info">About Us</h2>
                    <p>At our company, we are committed to simplifying and securing the patient registration process for healthcare providers and patients alike. By utilizing cutting-edge facial recognition technology, we aim to make registration faster, more accurate, and more secure. Our team is dedicated to creating a user-friendly product that seamlessly integrates into existing healthcare systems. With a focus on privacy and security, we strive to provide a seamless experience for patients and healthcare providers alike. Join us in revolutionizing the patient registration process with our innovative technology.</p>
                </div>
            </div>
        </section>
    </main><!-- Start: Footer Dark -->

<%- include("partials/footer") %>